#header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
#header #header-img{
    width: 300px;
    margin-left: 100px;
}
#header #header-img img{
    width: 100%;
}
#nav-bar{
    width: 500px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#nav-bar .nav-link a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

section.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.contact #form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submit{
    background-color: yellow;
    margin-top: 30px;
    padding: 5px;
    font-size: 15px;
    font-weight: 800;
    border: none;
}
#features{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: 100px 0px;
}
#features .features-list{
    width: 800px;
}
#video{
    width: 100%;
    text-align: center;
}