#header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: antiquewhite;
}
#header #header-img{
    width: 300px;
    margin-left: 100px;
}
#header #header-img img{
    width: 100%;
}
#nav-bar{
    width: 500px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#nav-bar .nav-link a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

section.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.contact #form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submit{
    background-color: yellow;
    margin-top: 30px;
    padding: 5px;
    font-size: 15px;
    font-weight: 800;
    border: none;
}
#features{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: 100px 0px;
}
#features .features-list{
    width: 800px;
}
#video{
    width: 100%;
    text-align: center;
}

section#pricing{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#price{
    width: 300px;
    height: 220px;
    border: #000000 solid 1px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#title{
    width: 100%;
    background-color: antiquewhite;
    padding: 5px 0px;
    margin: 0px;
}

#price a button{
    background-color: yellow;
    padding: 10px;
    margin-bottom: 1px;
}

.footer{
    width: 80%;
    height: 100px;
    background-color: beige;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}

footer ul{
    display: flex;
    width: 250px;
    justify-content: space-between;
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}
@media screen and ( max-width:600px ){
    #header{
        flex-direction: column;
        height: auto;
    }
    #header #header-img{
        width: 200px;
        margin-left: 0px;
    }
    #header #header-img img{
        width: 100%;
    }
    #nav-bar{
        width: 100%;
        flex-direction: column;
        justify-content: baseline;
        margin: 0 auto;
    }
    #nav-bar .nav-link p{
        margin: 0px;
        padding: 0px;
    }
    #nav-bar .nav-link a{
        font-size: 12px;
        margin: 0px;
        padding: 0px;
    }
    .contact h1{
        font-size: 18px;
        text-align: center;
    }
    #features .features-list{
        width: 85%;
    }
    .video{
        width: 100%;
    }
    section#pricing{
        flex-direction: column;
        align-items: center;
    }
    #price{
        margin: 10px 0px ;
    }
    .footer{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}